{% extends "base.html" %}
{% block content %}
{% load static %}
{% load cloudinary %}


<!-- Header Section: Title and Back Button -->
<div class="d-flex justify-content-between align-items-center p-3">
    <div class="display-4 text-decoration-underline">Update Profile</div>
    <a href="{% url 'user_profile' username=user.username %}" class="btn btn-dark btn-lg text-white">
        Back to Profile
    </a>
</div>

<!-- Main Container -->
<div class="container mt-5">
    <!-- Profile Edit Title -->
    <h1>Edit Profile Details for {{ profile.user.username }}</h1>
    
    <!-- Profile Edit Form -->
    <form method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        
        <!-- Form Fields -->
        <div class="row">
            {% for field in profile_form %}
                <div class="col-12 mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    <div class="input-group">
                        {{ field }}
                    </div>
                    <!-- Display errors if present -->
                    {% if field.errors %}
                        <div class="text-danger">
                            {% for error in field.errors %}
                                <small>{{ error }}</small><br>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <!-- Save Button -->
        <div class="row mt-4">
            <div class="col-12">
                <button type="submit" class="btn btn-primary w-50 mx-auto d-flex justify-content-center py-3">Save Changes</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}