/* Style for the message container */
.messages {
    position: fixed;         /* Fix the element relative to the viewport */
    top: 20px;               /* 20px from the top */
    left: 50%;               /* Center it horizontally */
    transform: translateX(-50%); /* Adjust the position to center the container */
    z-index: 9999;           /* Ensure it appears above other content */
    width: auto;             /* Auto width to fit the content */
    max-width: 80%;          /* Limit the width of the message container */
    padding: 10px 20px;      /* Padding inside the container */
    border-radius: 5px;      /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow for better visibility */
    transition: opacity 0.5s ease; /* Fade-out effect */
    display: block;          /* Ensure it's visible */
    margin: 0;               /* Remove any margins */
}

/* Style for the individual message alerts */
.alert {
    padding: 10px;           /* Padding inside each message */
    margin: 5px 0;           /* Space between messages */
    border-radius: 5px;      /* Rounded corners for individual messages */
}

/* Success message */
.alert-success {
    background-color: #4CAF50;
    color: white;
}

/* Error message */
.alert-danger {
    background-color: #f44336;
    color: white;
}

/* Info message */
.alert-info {
    background-color: #2196F3;
    color: white;
}

/* Warning message */
.alert-warning {
    background-color: #ff9800;
    color: white;
}

/* Dismiss button for the message */
.dismiss-message {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

/* Custom image styling */
.custom-img {
    max-height: 130px;
    object-fit: cover;
}

/* Custom title styling */
.custom-title {
    font-size: 1.25rem;
    word-wrap: break-word;
    white-space: normal;
}

/* Custom date styling */
.custom-date {
    font-size: 0.875rem;
}

.custom-btn {
    width: 50px;
    height: 50px;
}

.custom-detail-img {
    object-fit: cover;
}

.custom-country {
    font-size: 0.875rem;
}

.custom-text {
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}